.header__lang-link {
	margin-right: 1.13rem;
	font-size: 1.5rem;
	line-height: 1.17;
	align-self: end;
	padding-bottom: .31rem;
}

.header__lang-link:last-child {
	margin-right: 0;
}

@media screen and (max-width: 460px) {
	.header__lang-link {
		font-size: 1.13rem;
		line-height: 1.11;
		padding-bottom: .44rem;
	}
}

