.header__lang-link {
	margin: 0 1.13rem .31rem 0;
	font-size: 1.5rem;
	line-height: 1.17;
	align-self: end;
}

.header__lang-link:hover {
	cursor: pointer;
	opacity: .8;
	transition: opacity .3s;
}

.header__lang-link:last-child {
	margin-right: 0;
}

@media screen and (max-width: 460px) {
	.header__lang-link {
		font-size: 1.13rem;
		line-height: 1.11;
		margin-bottom: .44rem;
	}
}

