.photo-grid {
	width: calc(100% - 6rem);
	padding: 5.75rem 0 0;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(284px, max-content));
	gap: 1rem;
}

/*разрешения для небольших ноутбуков*/
@media screen and (min-width: 1100px) and (max-width: 1279px) {
	.photo-grid {
		justify-content: center;
	}
}


/*разрешения для небольших ноутбуков*/
@media screen and (min-width: 990px) and (max-width: 1025px) {
	.photo-grid {
		gap: .88rem;
	}
}

/*разрешения для небольших ноутбуков*/
@media screen and (min-width: 770px) and (max-width: 990px) {
	.photo-grid {
		gap: .88rem;
		justify-content: center;
	}
}

/*разрешения для планшетов*/
@media screen and (min-width: 460px) and (max-width: 770px) {
	.photo-grid {
		width: calc(100% - 3rem);
		padding: 6rem 0 0;
		gap: 1rem;
	}
}

/*разрешения для мобилок*/
@media screen and (max-width: 460px)  {
	.photo-grid {
		width: calc(100% - 2rem);
		padding: 4rem 0 0;
		gap: 0.75rem;
	}
}