.header {
	width: calc(100% - 6rem);
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 1.75rem 0 3.5rem;
}

/*разрешения для небольших ноутбуков*/
@media screen and (min-width: 900px) and (max-width: 1025px) {
	.header {
		padding: 1.75rem 0 3rem;
	}
}

/*разрешения для планшетов*/
@media screen and (min-width: 460px) and (max-width: 900px) {
	.header {
		width: calc(100% - 3rem);
		padding: 1.75rem 0 3rem;
	}
}

/*разрешения для мобилок*/
@media screen and (max-width: 460px)  {
	.header {
		width: calc(100% - 2rem);
		padding: 1rem 0 3rem;
	}
}