.link {
	display: inline-block;
	text-decoration: none;
	border-bottom: .06rem solid #fff;
	box-sizing: border-box;
	color: #fff;
}

.link:hover {
	cursor: pointer;
	opacity: .8;
	transition: opacity .3s;
}