.footer__links {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(5, auto);
	gap: 0 1.13rem;
}

/*разрешения для мобилок*/
@media screen and (max-width: 680px)  {
	.footer__links {
		grid-template-rows: repeat(5, auto);
		grid-template-columns: none;
		gap: 2rem 0;
		padding-bottom: 3rem;
	}
}