.intro__text {
	max-width: 690px;
	margin: 0;
	padding: 2.5rem 0 0;
	font-weight: normal;
	font-size: 1rem;
	line-height: 1.63;
}

/*разрешения для мобилок*/
@media screen and (max-width: 460px)  {
	.intro__text {
		max-width: 288px;
	}
}
