.cover {
	width: calc(100% - 6rem);
	margin: auto;
	background-image: url('../../images/baikal-on-dogs.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/*для всех разрешений ниже 1024*/
@media screen and (max-width: 1024px) {
	.cover {
		width: 100%;
	}
}

