.place {
	display: grid;
	grid-template-columns: minmax(340px, max-content) minmax(352px, max-content);
	grid-auto-rows: auto;
	gap: 48px 40px;
	padding-bottom: 80px;
}

.place:last-child {
	padding-bottom: 0;
}