.place {
	margin: auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, max-content));
	gap: 3rem 2.5rem;
	padding: 0 0 5rem;
}

.place:last-child {
	padding-bottom: 0;
}


/*разрешения для небольших ноутбуков*/
@media screen and (min-width: 900px) and (max-width: 1025px) {
	.place {
		column-gap: 2rem;
	}
}

/*разрешения для планшетов*/
@media screen and (min-width: 460px) and (max-width: 900px) {
	.place {
		column-gap: 1.75rem;
		padding-bottom: 4.5rem;
	}
}

/*разрешения для мобилок*/
@media screen and (max-width: 460px)  {
	.place {
		gap: 2rem 0;
		padding-bottom: 3rem;
	}
}