.place__url-heading {
	margin: 0;
	padding: 0 0 .75rem;
	font-weight: normal;
	font-size: .75rem;
	line-height: 1.7;
	letter-spacing: .13rem;
	color: #aaa;
}

/*разрешения для планшетов и мобилок*/
@media screen and (max-width: 900px) {
	.places {
		line-height: 1;
	}
}